<script>
import { GlButton, GlDropdown, GlSprintf, GlAlert, GlModal } from '@gitlab/ui';
import { s__, __ } from '~/locale';
import linkSecurityPolicyProject from '../../graphql/mutations/link_security_policy_project.mutation.graphql';
import unlinkSecurityPolicyProject from '../../graphql/mutations/unlink_security_policy_project.mutation.graphql';
import InstanceProjectSelector from '../instance_project_selector.vue';

export default {
  PROJECT_SELECTOR_HEIGHT: 204,
  i18n: {
    modal: {
      okTitle: __('Save'),
      header: s__('SecurityOrchestration|Select security project'),
    },
    save: {
      okLink: s__('SecurityOrchestration|Security policy project was linked successfully'),
      okUnlink: s__('SecurityOrchestration|Security policy project was unlinked successfully'),
      errorLink: s__(
        'SecurityOrchestration|An error occurred assigning your security policy project',
      ),
      errorUnlink: s__(
        'SecurityOrchestration|An error occurred unassigning your security policy project',
      ),
    },
    unlinkButtonLabel: s__('SecurityOrchestration|Unlink project'),
    unlinkWarning: s__(
      'SecurityOrchestration|Unlinking a security project removes all policies stored in the linked security project. Save to confirm this action.',
    ),
    disabledWarning: s__('SecurityOrchestration|Only owners can update Security Policy Project'),
    description: s__(
      'SecurityOrchestration|Select a project to store your security policies in. %{linkStart}More information.%{linkEnd}',
    ),
  },
  components: {
    GlButton,
    GlDropdown,
    GlSprintf,
    GlModal,
    GlAlert,
    InstanceProjectSelector,
  },
  inject: [
    'disableSecurityPolicyProject',
    'documentationPath',
    'projectPath',
    'assignedPolicyProject',
  ],
  props: {
    visible: {
      type: Boolean,
      required: false,
      default: false,
    },
  },
  data() {
    return {
      selectedProject: { ...this.assignedPolicyProject },
      hasSelectedNewProject: false,
      shouldShowUnlinkWarning: false,
    };
  },
  computed: {
    selectedProjects() {
      return [this.selectedProject];
    },
    selectedProjectId() {
      return this.selectedProject?.id || '';
    },
    selectedProjectName() {
      return this.selectedProject?.name || '';
    },
    isModalOkButtonDisabled() {
      if (this.shouldShowUnlinkWarning) {
        return false;
      }

      return this.disableSecurityPolicyProject || !this.hasSelectedNewProject;
    },
  },
  methods: {
    async linkProject() {
      try {
        const { data } = await this.$apollo.mutate({
          mutation: linkSecurityPolicyProject,
          variables: {
            input: {
              projectPath: this.projectPath,
              securityPolicyProjectId: this.selectedProjectId,
            },
          },
        });

        if (data?.securityPolicyProjectAssign?.errors?.length) {
          throw new Error(data.securityPolicyProjectAssign.errors);
        }

        this.$emit('project-updated', {
          text: this.$options.i18n.save.okLink,
          variant: 'success',
        });
      } catch {
        this.$emit('project-updated', {
          text: this.$options.i18n.save.errorLink,
          variant: 'danger',
        });
      }
    },

    async unlinkProject() {
      try {
        const { data } = await this.$apollo.mutate({
          mutation: unlinkSecurityPolicyProject,
          variables: {
            input: {
              projectPath: this.projectPath,
            },
          },
        });

        if (data?.securityPolicyProjectUnassign?.errors?.length) {
          throw new Error(data.securityPolicyProjectUnassign.errors);
        }

        this.shouldShowUnlinkWarning = false;
        this.selectedProject = {};
        this.$emit('project-updated', {
          text: this.$options.i18n.save.okUnlink,
          variant: 'success',
        });
      } catch {
        this.$emit('project-updated', {
          text: this.$options.i18n.save.errorUnlink,
          variant: 'danger',
        });
      }
    },

    async saveChanges() {
      this.$emit('updating-project');

      if (this.shouldShowUnlinkWarning) {
        await this.unlinkProject();
      } else {
        await this.linkProject();
      }

      this.hasSelectedNewProject = false;
    },
    setSelectedProject(data) {
      this.shouldShowUnlinkWarning = false;
      this.hasSelectedNewProject = true;
      this.selectedProject = data;
      this.$refs.dropdown.hide();
    },
    confirmDeletion() {
      this.shouldShowUnlinkWarning = !this.shouldShowUnlinkWarning;
    },
    closeModal() {
      this.shouldShowUnlinkWarning = false;
      this.$emit('close');
    },
  },
};
</script>

<template>
  <gl-modal
    v-bind="$attrs"
    ref="modal"
    cancel-variant="light"
    size="sm"
    modal-id="scan-new-policy"
    :scrollable="false"
    :ok-title="$options.i18n.modal.okTitle"
    :title="$options.i18n.modal.header"
    :ok-disabled="isModalOkButtonDisabled"
    :visible="visible"
    @ok="saveChanges"
    @change="closeModal"
  >
    <div>
      <gl-alert
        v-if="disableSecurityPolicyProject"
        class="gl-mb-4"
        variant="warning"
        :dismissible="false"
      >
        {{ $options.i18n.disabledWarning }}
      </gl-alert>
      <gl-alert
        v-if="shouldShowUnlinkWarning"
        class="gl-mb-4"
        variant="warning"
        :dismissible="false"
      >
        {{ $options.i18n.unlinkWarning }}
      </gl-alert>
      <div class="gl-display-flex gl-mb-3">
        <gl-dropdown
          ref="dropdown"
          class="gl-w-full"
          menu-class="gl-w-full! gl-max-w-full!"
          :disabled="disableSecurityPolicyProject"
          :text="selectedProjectName"
        >
          <instance-project-selector
            class="gl-w-full"
            :max-list-height="$options.PROJECT_SELECTOR_HEIGHT"
            :selected-projects="selectedProjects"
            @projectClicked="setSelectedProject"
          />
        </gl-dropdown>
        <gl-button
          v-if="selectedProjectId"
          icon="remove"
          class="gl-ml-3"
          :aria-label="$options.i18n.unlinkButtonLabel"
          @click="confirmDeletion"
        />
      </div>
      <div class="gl-pb-5">
        <gl-sprintf :message="$options.i18n.description">
          <template #link="{ content }">
            <gl-button class="gl-pb-1!" variant="link" :href="documentationPath" target="_blank">
              {{ content }}
            </gl-button>
          </template>
        </gl-sprintf>
      </div>
    </div>
  </gl-modal>
</template>
